
header{
    background-color:rgba(238, 109, 169, 0.178) ;
    display: flex;
}
.loguitos{
    display:flex;
    gap: 15px;
    align-items:center;
}
.usuario{
    width: 70px;
}
.lupa{
    width: 60px;
}
.carrito{
    width: 67px;
}
*{
    padding: 0;
    box-sizing:border-box
}
.logo{
    width: 100px;
}
.nav-list{
    display:flex;
    list-style-type: none;
    gap: 10px;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(179, 10, 88);
}